#map {
  height: 100%;
  width:100%;
  display:block;
  position: absolute !important;
  overflow:auto;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#title{
  margin-left:25%;
  width:50%;
  text-align:center;
  z-index:200;
  background:none;
}
