#map {
  height: 100%;
  display:block;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#title{
  margin-left:25%;
  width:50%;
  text-align:center;
  z-index:200;
  background:none;
}
.group {
  border: 1px solid #999;
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
  line-height: 25px;
  background-color: white;
  font-family: 'Roboto','sans-serif';
  font-size: small;
}

#radiusNum, #intensityNum, #opacityNum {
  font-weight: 800;
}